@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Comfortaa.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    background: none;
    color: black;
    border-style: none;
}

body {
	font-family: Comfortaa;
	color: black;
	background-color: none;
    max-width: 1024px;
    min-width: 128px;
    margin: auto;
}

nav{padding-top: 5px; padding-left: 5px; display: block;}

.amenu {
    text-decoration: none;
    color: black;
    display: inline-table;
    padding-top: 15px; padding-bottom: 15px;
    padding-left: 3px; padding-right: 3px;
    margin-right: 2px; margin-bottom: 5px;
    border-style: none;
}
.amenu:hover,.amenu:focus{color: blue;}
.amenu:active {color: blue;}
a {color: red;}
h1,h2,h3,h4 {padding-left: 10px;}

header,article,section {padding: 1%; border-style: none;}