@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Comfortaa.ttf) format('truetype');
}

* {box-sizing: border-box;}

body {
	font-family: Comfortaa;
    max-width: 1024px;
    min-width: 128px;
    margin: auto;
}

nav{padding-top: 5px; padding-left: 5px; display: block;}

.amenu {
    text-decoration: none;
    display: inline-table;
    padding-top: 15px; padding-bottom: 15px;
    padding-left: 3px; padding-right: 3px;
    margin-right: 2px; margin-bottom: 5px;
}

a {color: blue;}
h1,h2,h3,h4 {padding-left: 10px;}

header {padding: 1%;}
article {padding: 1%;}
section {padding: 1%;}
