@font-face {
	font-family: Comfortaa;
	src: url('../regier.github.io/assets/fonts/Comfortaa.ttf');
	src: url('assets/fonts/Comfortaa.ttf');
}

* {
	box-sizing: border-box;
 	font-family: Comfortaa; sans-serif;
	color: wheat;
	background-color: black;
	margin-left: auto; margin-right: auto;
}

nav,header,body    {min-width: 100px; max-width: 1024px;}
.menus          {display: inline-table;}
.amenu {
    text-decoration: none; color: yellow; border-style: solid; border-width: 1px; border-color: cyan;
    line-height: 64px; padding: 10px; padding-top: 15px; padding-bottom:15px; margin: auto;}
h1,h2,h3,h4 {color: yellow;}
#content		{border-style: ridge; border-color: silver; padding: 2%;}
.title,.red_border,.green_border,.blue_border,.cyan_border,.magenta_border,.yellow_border {border-style: ridge;}
.title {border-color: red;}
.red_border {border-color: red;}
.green_border {border-color: green;}
.blue_border {border-color: blue;}
.cyan_border {border-color: cyan;}
.magenta_border {border-color: magenta;}
.yellow_border {border-color: yellow;}
pre,code        {font-family: monospace; font-size:larger; background-color: #121212;}