@media only screen and (prefers-color-scheme: light) {
.amenu {color:black; border-color: red;}
.amenu:hover,.amenu:focus{color: cyan;}
.amenu:active {color: cyan; border-color: cyan;}
body {color: black; background-color: white;}
a {color: green;}

header {border-color: blue;}
article {border-color: red;}
section {border-color: green;}
p:hover,li:hover,h1:hover,h2:hover {color:red;}
}

@media only screen and (prefers-color-scheme: dark) {
.amenu {color:white; border-color: red;}
.amenu:hover,.amenu:focus{color: cyan;}
.amenu:active {color: cyan; border-color: cyan;}
body {color: white; background-color: black;}
a {color: cyan;}

header {border-color: cyan;}
article {border-color: magenta;}
section {border-color: yellow;}
p:hover,li:hover,h1:hover,h2:hover {color:yellow;}
}

@media only print, tv {
body,.amenu,article,header,section{
  color:black;background:white;border-style: none;}
  a,h1,h2,h3,h4{color:blue;}
}

@media only reader, speech, tty {
.amenu {border: none}

header {border: none;}
section {border: none;}
}