@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Comfortaa.ttf) format('truetype');
}

* {box-sizing: border-box;}

body {
	font-family: Comfortaa;
	color: white;
	background-color: black;
    max-width: 1024px;
    min-width: 128px;
    margin: auto;
}

nav{padding-top: 5px; padding-left: 5px; display: block;}

.amenu {
    text-decoration: none;
    color: white;
    display: inline-table;
    padding-top: 15px; padding-bottom: 15px;
    padding-left: 3px; padding-right: 3px;
    margin-right: 2px; margin-bottom: 5px;
    border: 1px solid red;
}
.amenu:hover,.amenu:focus{color: cyan;}
.amenu:active {color: cyan; border-color: cyan;}
a {color: cyan;}
h1,h2,h3,h4 {padding-left: 10px;}

header {border: 2px solid cyan;}
article {border: 2px solid magenta;}
section {border: 2px solid yellow;}
p:hover,li:hover,h1:hover,h2:hover {text-shadow: 2px 2px 2px yellow;}